
/* -----------------## Global Styles */
.form-heading {
  color: var(--accent-10);
  letter-spacing: .6px;
}

.form-error {
  color: red;
  font-style: italic;
  font-size: smaller;
  padding-block-end: 5px;
}

.main-card-content form header {
  margin-block-start: 30px;
}

ion-button {
  margin-block-start: 30px;
}

/* -----------------## Form Styles */
.form-input {
  --highlight-color-focused: var(--accent-10);
  color: var(--rec-primary-color);
}

/* ----### Radio Button Styles */
ion-radio-group {
  margin-block: 10px;
}

ion-radio-group span {
  color: var(--rec-primary-color);
}

ion-radio {
  --size: 18px;
  --color-checked: var(--rec-primary-color);
  --color: var(--rec-primary-color);
  color: var(--accent-10);
  padding-inline-start: 20px;
  display: block;
  margin-block: 10px;
}

/* ----### Select Styles */
.alert-title.sc-ion-alert-md {
  color: var(--rec-primary-color);
}

.alert-radio-label.sc-ion-alert-md {
  color: var(--rec-primary-color);
}