@import url('../styles/listCompletedReports.css');

/* -----------------## Global Styles */
.card-content-md h2 {
  font-size: 20px;
}

.card-content-md {
  padding-inline: 0;
}

.form-heading {
  color: var(--accent-10);
  letter-spacing: .6px;
  padding-block-start: 80px;
}

.form-heading ion-icon {
  margin-inline-end: 10px;
}

.form-error {
  position: absolute;
  top: 5px;
  left: 170px;
  inline-size: 50px;
  color: red;
  font-style: italic;
  font-size: smaller;
}

.main-card-content form header {
  margin-block-start: 2px;
}

.btn__send-report {
  margin-block: 40px 60px;
}


ion-item {
  margin-block-start: 20px;
}

ion-item span {
  color: var(--rec-primary-color);
}


/* -----------------## Form Styles */
.form-input {
  --highlight-color-focused: var(--accent-10);
  color: var(--rec-primary-color);
}

.input__type-file {
  border-radius: 6px;
}

.custom-label__disabled .label-text-wrapper {
  color: var(--rec-primary-color);
  font-size: inherit;
}


/* ----### Radio Button Styles */
ion-radio-group {
  margin-block: 10px;
}

ion-radio-group span {
  color: var(--rec-primary-color);
}

ion-radio {
  --size: 18px;
  --color-checked: var(--rec-primary-color);
  --color: var(--rec-primary-color);
  padding-inline-start: 20px;
  display: block;
  margin-block: 10px;
}

/* ----### Select Styles */
.alert-radio-label.sc-ion-alert-md {
  color: var(--rec-primary-color);
}

[aria-checked=true].sc-ion-alert-md .alert-radio-label.sc-ion-alert-md {
  color: var(--accent-4);
}

.alert-wrapper.sc-ion-alert-md {
  min-width: 300px;
}