/* -----------------## Global Styles */
hr {
  border: 0;
  clear: both;
  display: block;
  width: 96%;               
  background-color: var(--rec-tertiaire-color-tr);
  height: 1px;
}

/* -----------------## Header Subtitle Styles */
.main-card-subtitle input {
  padding: 5px 15px;
  background: var(--rec-tertiaire-color);
  width: 100%;
  max-width: 500px;
  border-radius: 5px;
  margin-block-start: 5px;
  outline: none;
  border: none;
  color: var(--rec-primary-color);
}

/* -----------------## Page Content Styles */
/* ----### Card Header Styles */
.main-card-content ion-card-header h2 {
  color: var(--rec-primary-color);
  background: var(--accent-3);

  border-radius: 5px;
  padding-inline: 5px;
  padding-block: 10px;
}

.main-card-content ion-card-header h2:active, 
.main-card-content ion-card-header h2:hover {
  color: var(--accent-4);
  background: var(--accent-3);
  cursor: pointer;
}

/* ----### Container List Items Styles */
.main-card-content ul {
  margin-block-start: 5px;
  background: var(--accent-3);
  padding-inline: 10px;
  border-radius: 5px;
}

/* ----### List Items Styles */
.main-card-content li {
  padding-block: 10px;
}

.main-card-content h3 {
  color: var(--rec-primary-color);
  font-size: 1.05rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-block-end: 8px;
}

.main-card-content p {
  margin-block-end: 8px;
}

.main-card-content li span {
  font-weight: bold;
  margin-inline-end: 3px;
}