/* -----------------## Global Styles */
hr {
  border: 0;
  clear: both;
  display: block;
  width: 96%;               
  background-color: var(--accent-5);
  height: 1px;
  margin-block: 10px;
}

/* -----------------## Header Subtitle Styles */
.main-card-subtitle input {
  padding: 5px 15px;
  background: var(--accent-5);
  width: 100%;
  max-width: 500px;
  border-radius: 5px;
  margin-block-start: 5px;
  outline: none;
  border: none;
  color: var(--rec-primary-color);
}

.main-card-subtitle input:focus {
  border: 2px solid var(--rec-primary-color);
}

/* ----### Card Header Styles */
.main-card-content ion-card-header h2 {
  color: var(--rec-primary-color);
  background: var(--accent-5);
  border-radius: 5px;
  padding-inline: 5px;
  padding-block: 10px;
  margin-block-end: 25px;
}

.main-card-content ion-card-header h2:active {
  animation: clicked-blink 150ms;
}

.main-card-content ion-card-header h2:hover {
  cursor: pointer;
}

@keyframes clicked-blink{
  50% {background-color: var(--accent-2);}
  100% {background-color: initial;}
}

/* ----### Container List Items Styles */
.main-card-content ul {
  margin-block-start: 5px;
  padding-inline: 10px;
  border-radius: 5px;
}

/* ----### List Items Styles */
.main-card-content li {
  padding-block: 10px;
}

.main-card-content h3 {
  color: var(--accent-7);
  font-size: 1.05rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-block-end: 20px;
}

.main-card-content p {
  margin-block-end: 8px;
}

.main-card-content li span {
  font-weight: bold;
  margin-inline-end: 3px;
}