.login__page {
  max-inline-size: 600px;
  margin: 0 auto;
}

.custom__input {
  --color: var(--rec-primary-color);
  --background: var(--rec-tertiaire-color);
  --highlight-color-focused: var(--accent-9);
  --padding-top: 8px;
  height: 80px;
  font-size: 18px;
  margin-bottom: 20px;
}