/* -------------------# Fonts #------------------- */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('../theme/variables.css');

/* -------------------# Global Styles #------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  overflow: hidden;
  scroll-behavior: smooth;
  list-style: none;
  font-family: 'Roboto', 'Verdana', 'Arial', sans-serif;
}

.maximum-width {
  width: 100%;
  height: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

h1 {
  color: var(--text-heading-1);
}

ion-content {
  --background: var(--rec-tertiaire-color);
}

ion-toolbar {
  -webkit-box-shadow: 0px 5px 11px -6px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 5px 11px -6px rgba(0,0,0,0.75);
  box-shadow: 0px 5px 11px -6px rgba(0,0,0,0.75);
}

a {
  text-decoration: none;
}

ion-button {
  --background: var(--rec-primary-color);
  --background-activated: var(--rec-secondary-color);
}

ion-button:hover {
  --background: var(--rec-tertiaire-color);
  --color: var(--rec-primary-color);
}

ion-button:active {
  --background: var(--rec-secondary-color);
  --color: var(--rec-primary-color);
}

.list-md {
  padding: 0;
}

ion-item {
  --background: none;
}

.hover-routerlink:hover,
.hover-routerlink:active {
  cursor: pointer;
  color: var(--rec-secondary-color);
}

/* ---------------## Page Main Styles ##------------------- */
.main-container {
  max-width: 900px;
  margin: 50px auto;
  padding-inline: 10px;
}

/* ----###  Page Main Card Styles */
.main-card-container {
  padding: 20px;
}

  .main-card-header {
    margin-block: 0 10px;
  }

    .main-card-title h1 {
      margin-block: 0 5px;
      font-weight: 600;
    }

    .main-card-content  h2 {
      font-weight: 700;
    }

/* -------------------# Page Layout Styles #------------------- */
/* ---------------## Header Styles ##------------------- */
.in-toolbar {
  background: var(--accent-2);
}

.toolbar-background {
  background-color: none;
}

.container-page-header {
  display: flex;
  flex-wrap: wrap;
}

  .page-fancy-bar {
    width: 100%;
    height: 25px;
    background-color: var(--accent-1);
  }

  .wrapper-page-header {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    padding: 10px;
    background-color: var(--accent-2);
  }

/* ----### Logo Styles */
.container-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-block: 10px 0;
  position: relative;
  background-color: var(--accent-2);
}

  .logo {
    display: none;
    width: 55px;
    margin-inline: 0 8px;
  }

  .logo-text {
    width: 200px;
  }

/* ----### Header Navaigation Styles */
.header-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--accent-2);
}

  .header-nav-icon ion-icon {
    color: var(----accent-1);
    width: 25px;
  }


/* -----------------## Footer Styles ##------------------- */
.wrapper-page-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--accent-1);
  padding: 10px;
}

/* ----### Footer Navigation Styles */
.footer-nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 1024px;
  background-color: var(--accent-1);
  color: var(--rec-tertiaire-color);
  
}

  .footer-icon-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 2px;
    color: white;
  }



/* -------------------# Media Queries: Mobile First #------------------- */
@media only screen and (min-width: 180px) {
/* ---------------## Header Styles ##------------------- */
  .wrapper-page-header {
    padding-block: 0px;
  }

  .logo-text {
    margin: 0;
  }

/* -----------------## Footer Styles ##------------------- */
.footer-icon-wrapper ion-icon {
  font-size: 24px;
}

  .footer-icon-text {
    font-size: 0.65rem;
  }
}


@media only screen and (min-width: 330px) {
  /* ---------------## Header Styles ##------------------- */
  .wrapper-page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 0 10px;
  }

  .container-logo {
    justify-content: flex-start;
  }

  .header-nav {
    justify-content: flex-start;
    gap: 0;
  }
  /* -----------------## Footer Styles ##------------------- */
  .footer-icon-text {
    font-size: 0.85rem;
  }
}


@media only screen and (min-width: 400px) {
  /* ---------------## Header Styles ##------------------- */
  .wrapper-page-header {
    padding-block-end: 15px;
  }

  .logo {
    display: block;
  }

  /* ---------------## Footer Styles ##------------------- */
  .footer-icon-wrapper ion-icon {
    font-size: 28px;
  }

  .footer-icon-text {
    font-size: .9rem;
  }
}



@media only screen and (min-width: 900px) {
  /* ---------------## Footer Styles ##------------------- */
  .footer-nav {
    max-width: 800px;
    margin: 0 auto;
    justify-content: space-between;
  }


}