/* -----------------## Main Content Header Styles */
.settings__page .main-card-content header {
inline-size: 100%;
}

/* -----------------## Main Content Section Styles */
.settings__page .main-card-content section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  max-width: 220px;
}

.settings__page .main-card-content section div {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 100%;
}

.settings__page .card-content-md h4 {
  inline-size: 100%;
}

.settings__page .main-card-content ion-button {
  width: 100px;
}

@media only screen and (max-width: 300px) {
 /* ---------------## Page Main Styles ##------------------- */
 .settings__page .main-card-container {
    padding: 10px;
  }

/* -----------------## Main Content Header Styles */
.settings__page .main-card-content header {
    margin-inline-end: 10px;
  }
}