.main-container .settings__page {
  max-inline-size: 500px;
  margin: 0 auto;
}

/* -----------------## Main Content Header Styles */
.settings__page .main-card-content header {
  display: flex;
  justify-content: space-between;
  inline-size: 100%;
  margin-bottom: 10px;
}

.settings__page .main-card-content header h2 {
  display: flex;
  justify-content: space-between;
  inline-size: 100%;
}

.settings__page .main-card-content ion-button {
  width: 100px;
}

/* -----------------## Main Content Section Styles */
.settings__page .main-card-content section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  max-width: 220px;
}

.settings__page .main-card-content section div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  inline-size: 100%;
  gap: 30px;
  margin-block-start: 5px;
}


@media only screen and (max-width: 300px) {
 /* ---------------## Page Main Styles ##------------------- */
 .settings__page .main-card-container {
    padding: 10px;
  }

/* -----------------## Main Content Header Styles */
.settings__page .main-card-content header {
    margin-inline-end: 10px;
  }
}