:root {
  --rec-primary-color: #293439;
  --rec-primary-color-tr: #293439a8;
  --rec-secondary-color: #00aaa2;
  --rec-secondary-color-tr: #00aaa280;
  --rec-tertiaire-color: #e0e0e0;
  --rec-tertiaire-color-tr: rgba(255, 255, 255, 0.531);
  --rec-gradient-color: linear-gradient(to right, #475e6c, #141b1f);
  --ion-background-color:#ffffff;

  --page-footer-background: var(--rec-primary-color);
  --page-footer-text: #dcdcdc;

	--accent-1: var(--rec-primary-color); 
	--accent-2: #ffffff;
	--accent-3: var(--rec-tertiaire-color);
	--accent-4: var(--rec-secondary-color-tr);
	--accent-5: var(--rec-tertiaire-color);
  --accent-6: var(--rec-primary-color);
  --accent-7: var(--rec-secondary-color-tr);
  --accent-8: var(--rec-primary-color);
  --accent-9: var(--rec-secondary-color);
  --accent-10: var(--rec-secondary-color);
}

.themeToggle {
  --rec-primary-color: #00aaa2;
  --rec-secondary-color: #293439;
  --rec-secondary-color-tr: #3c3d3d80;
  --rec-tertiaire-color: #616161;
	--ion-background-color:#272727;

  --page-footer-background: var(--accent-2);
  --page-footer-text: var(--rec-secondary-color);

	--accent-1: #1f1f1f;
	--accent-2: #a9a9a9;
	--accent-3: var(--ion-background-color);
	--accent-4: var(--rec-tertiaire-color);
	--accent-5: #3b3b3b;
  --accent-6: var(--accent-2);
  --accent-7: var(--rec-primary-color);
  --accent-8: var(--rec-secondary-color);
  --accent-9: #67ddd9;
  --accent-10: var(--accent-2);
}